/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/kaz-khk.autobil.bin
/kaz-khk.autogen.bin
/kaz-khk.autogen.hfst
/kaz-khk.automorf.bin
/kaz-khk.automorf.hfst
/kaz-khk.autopgen.bin
/kaz-khk.lrx.bin
/kaz-khk.mode
/kaz-khk.rlx.bin
/kaz-khk.t1x.bin
/kaz-khk.t2x.bin
/khk-kaz.autobil.bin
/khk-kaz.autogen.bin
/khk-kaz.autogen.hfst
/khk-kaz.automorf.bin
/khk-kaz.automorf.hfst
/khk-kaz.autopgen.bin
/khk-kaz.lrx.bin
/khk-kaz.mode
/khk-kaz.rlx.bin
/khk-kaz.t1x.bin
/khk-kaz.t2x.bin
/missing
/modes
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/ap_include.am
/*-*.prob
/config.in
/config
/test/*-output.txt
